/* Shake */
.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-3px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(8px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-15px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(15px, 0, 0);
    }
}

/* Boing */
.boing {
    animation: boing 0.82s ease-in-out;
}

@keyframes boing {
    25%, 35%, 45%, 55%, 65%, 75%, 100% {
        transform-origin: center center;
    }

    25% {
        transform: scale(0.97);
    }
    35% {
        transform: scale(0.9);
    }
    45% {
        transform: scale(1.1);
    }
    55% {
        transform: scale(0.9);
    }
    65% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

/* Twinkle */
.star {
    position: absolute;
}

.twinkle1 {
    animation: twinkle 4.5s linear 0s infinite normal;
    transform: rotate(20deg);
}

.twinkle2 {
    animation: twinkle 6s linear 0s infinite normal;
    transform: rotate(0deg);
}

.twinkle3 {
    animation: twinkle 8s linear 0s infinite normal;
    transform: rotate(90deg);
}

.twinkle4 {
    animation: twinkle 10s linear 0s infinite normal;
    transform: rotate(120deg);
}

@keyframes twinkle {
	0% {
        transform: scale(1.0);
        opacity: 1;
    }
	25% {
        transform: scale(0.5);
        opacity: 0;
    }
	50% {
        transform: scale(1.0);
        opacity: 1;
    }
	75% {
        transform: scale(0.5);
        opacity: 0;
    }
	100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

/* Spring up */
.spring {
    height: 200px;
    width: 200px;
    transition: all 300ms ease;
    opacity: 0;
    animation: springdown 400ms ease forwards;
    will-change: transform;
}

.springup {
    opacity: 1;
    animation: springup 900ms ease forwards;
    will-change: transform;
}

@keyframes springup {
    0% {
        transform: translateY(300px) scale3d(0.96, 0.96, 1.00);
    }
    20% {
        transform: translateY(80px) scale3d(1.10, 1.10, 1.00);
    }
    40% {
        transform: translateY(50px) scale3d(0.98, 0.98, 1.00);
    }
    60% {
        transform: translateY(62px) scale3d(1.05, 1.05, 1.00);
    }
    80% {
        transform: translateY(60px) scale3d(1.01, 1.01, 1.00);
    }
    100% {
        transform: translateY(60px) scale3d(1.00, 1.00, 1.00);
    }
}

@keyframes springdown {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0) scale3d(0.96, 0.96, 1);
    }
}

/* pop */
.pop {
    /*height: 200px;
    width: 200px;*/
    transition: all 300ms ease;
    opacity: 0;
    animation: springdown 400ms ease forwards;
    will-change: transform;
}

.popup {
    opacity: 1;
    animation: popup 900ms ease forwards;
    will-change: transform;
}

@keyframes popup {
    0% {
        transform: scale3d(0.96, 0.96, 1.00);
    }
    20% {
        transform: scale3d(1.10, 1.10, 1.00);
    }
    40% {
        transform: scale3d(0.98, 0.98, 1.00);
    }
    60% {
        transform: scale3d(1.05, 1.05, 1.00);
    }
    80% {
        transform: scale3d(1.01, 1.01, 1.00);
    }
    100% {
        transform: scale3d(1.00, 1.00, 1.00);
    }
}

/* Card flips */
.flip, .flipLR, .flipRL, .flipTB, .flipBT {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.flip div, .flipLR div, .flipRL div, .flipTB div, .flipBT div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    backface-visibility: hidden;
}

.flip.flipped, .flipLR.flipped {
    transform: rotateY(180deg);
}

.flip .back, .flipLR .back {
    transform: rotateY(180deg);
}

.flipRL.flipped {
    transform: rotateY(-180deg);
}

.flipRL .back {
    transform: rotateY(-180deg);
}

.flipTB.flipped {
    transform: rotateX(180deg);
}

.flipTB .back {
    transform: rotateX(180deg);
}

.flipBT.flipped {
    transform: rotateX(-180deg);
}

.flipBT .back {
    transform: rotateX(-180deg);
}

div.roundCard > section {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    background: #3D2A6E;
    clip-path: circle(50% at center);
}

div.roundCard > section > section {
    position: relative;
    width: 100%; /*calc(100% - 20px);*/
    height: 100%; /*calc(100% - 20px);*/
    background: #00A4bF;
    clip-path: circle(50% at center);
}

div.roundCard > section > section p {
    color: #fff;
}

div.roundCard > img {
    position: absolute;
    width: 110px;
    height: 110px;
    top: -60px;
    z-index: 2;
    left: calc(50% - 55px);
}

div.roundCard > p {
    padding: 20px 0 !important;
    font: 24px/32px 'mikadobold' !important;
    color: #3D2A6E;
}

/* fade out->in */
.fadeout {
    opacity: 0;
    transition: opacity 0.6s linear;
    /*opacity: 1;
    animation: fadeout 0.60s/* ease-in-out*/;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadein {
    opacity: 1;
    transition: opacity 0.6s linear;
    /*opacity: 0;
    animation: fadein 0.60s/* ease-in-out*/;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
